body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.grid-container {
    display: flex;
    flex-direction: column;
    width:560px;
    height: 560px;
    border-style: solid;
    border-color: black;
}
.grid-box {
    display: flex;
    width:560px;
    height: 560px;
    /*border-style: solid;
    border-color: black;*/
    
    
}
.grid {
    display: flex;
    flex: 1;
    background-color: white;
    /*border: solid black;*/
    
}