body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.grid-container {
    display: flex;
    flex-direction: column;
    width:560px;
    height: 560px;
    border-style: solid;
    border-color: black;
}
.grid-box {
    display: flex;
    width:560px;
    height: 560px;
    
    
}
.grid {
    display: flex;
    flex: 1;
    background-color: white;    
}
.button-container {
    display: flex;
    flex-direction: column;
    width:160px;
    height: 260px;
    border-style: solid;
    border-color: black;
    justify-content: flex-end;
}

#colorpicker {
    
}

.slidecontainer {
    width: 90%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #aa0436; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
  }